<div class="sidebar" >
    <div #map class="map">
      <google-map height="400px"
            width="750px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
            <map-marker [position]="mapPosition" (mapClick)="showMarkerInfo($event)">
              <div *ngIf="markerInfo" >
                <strong>Latitude:{{this.panel['Lat']}}</strong> <br/>
                <strong>Longitude:{{this.panel['Lng']}}</strong> 
              </div>
            </map-marker>
</google-map>


    <button (click)="closeSidebar()">Close</button>
    
  </div>